.gradle/
.kotlin/
**/build/
.idea/
*.iml
local.properties
.cxx/
.externalNativeBuild/
*.jks
*.keystore
*.apk
*.aab
*.hprof
native/qemu/work/
native/qemu/prefix/
app/src/main/jniLibs/
app/src/main/assets/vm/
out/
.DS_Store
